
<div class="title">
  AVCCE IT Album 2007
</div>

<swiper [effect]="'cards'" [grabCursor]="true" class="mySwiper">
  <ng-template swiperSlide>
    <img src="assets/0001.JPG" width="200" height="220">
  </ng-template>
  <ng-template swiperSlide>
    <img src="assets/0002.JPG" width="200" height="220">
  </ng-template>
  <ng-template swiperSlide>
    <img src="assets/0003.JPG" width="200" height="220">
  </ng-template>
  <ng-template swiperSlide>
    <img src="assets/0004.JPG" width="200" height="220">
  </ng-template>
  <ng-template swiperSlide>
    <img src="assets/0005.jpg" width="200" height="220">
  </ng-template>
  <ng-template swiperSlide>
    <img src="assets/0006.jpg" width="200" height="220">
  </ng-template>
  <ng-template swiperSlide>
    <img src="assets/0007.JPG" width="200" height="220">
  </ng-template>
  <ng-template swiperSlide>
    <img src="assets/0008.JPG" width="200" height="220">
  </ng-template>
  <ng-template swiperSlide>
    <img src="assets/0009.JPG" width="200" height="220">
  </ng-template>
  <ng-template swiperSlide>
    <img src="assets/0010.JPG" width="200" height="220">
  </ng-template>
  <ng-template swiperSlide>
    <img src="assets/0011.JPG" width="200" height="220">
  </ng-template>
  <ng-template swiperSlide>
    <img src="assets/0012.JPG" width="200" height="220">
  </ng-template>
  <ng-template swiperSlide>
    <img src="assets/0013.JPG" width="200" height="220">
  </ng-template>
  <ng-template swiperSlide>
    <img src="assets/0014.JPG" width="200" height="220">
  </ng-template>
  <ng-template swiperSlide>
    <img src="assets/0015.JPG" width="200" height="220">
  </ng-template>
  <ng-template swiperSlide>
    <img src="assets/0016.JPG" width="200" height="220">
  </ng-template>
  <ng-template swiperSlide>
    <img src="assets/0017.JPG" width="200" height="220">
  </ng-template>
  <ng-template swiperSlide>
    <img src="assets/0018.JPG" width="200" height="220">
  </ng-template>
  <ng-template swiperSlide>
    <img src="assets/0019.JPG" width="200" height="220">
  </ng-template>

</swiper>